<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>


		<h1 id="header"></h1>

	<input type="submit" id="corans">
	<input type="submit" class="ans" id="ans1">
	<input type="submit" class="ans" id="ans2">
	<input type="submit" class="ans" id="ans3">		
	<script>
	var socket = io();
	socket.emit('start_game', {'quest_num': 1 });

	socket.on('quest', function(data, num){
		console.log("data reseived "  + data);
		console.log("num reseived "  + num);
		get_ready(data, num);
	});

		var data;
		var room;
		var quest_num;
	function get_ready(result, num){
	
		 data = JSON.parse(result);
		 quest_num = JSON.stringify(num);
		 room = data.game_id;

			$('#header').text('Question ' + quest_num + ": " + data.question);
			$('#corans').val(data.corans);
			$('#ans1').val(data.ans1);
			$('#ans2').val(data.ans2);
			$('#ans3').val(data.ans3);
	}


	$('.ans').click(function() {
		alert("Whrong! Try Again!");
		
	});

	$('#corans').click(function(event){
		event.preventDefault();
        event.stopPropagation();

        socket.emit('next_quest', {'room': room, 'quest_num': quest_num});
	});

	/*$('#corans').click(function(){
		$.ajax({
				type:"POST",
				url:"/next_quest",
				contentType: "application/JSON",
				data: JSON.stringify({data:{
					'quest_num': ,
					'game_id': ''
					}
				}),

				}).done(function(result){
					console.log(result);					
				}).fail(function(err){
					console.log(err);
				});
        });*/

	
	</script>



</body>
</html>