<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>

<div class="container">
	<div class="wrapper animated bounceInLeft">
		<div class="welcoming">
			<h1 id="header"></h1>
			<h1 id="team"></h1>
		</div>
		<div class="mainpart wait_event">
			<p>
				<input type="submit" class="btn theme-btn" id="corans"/>
			</p>
			<br />
			<p>
				<input type="submit" class="ans btn theme-btn " id="ans1"/>
			</p>
			<br />
			<p>	
				<input type="submit" class="ans btn theme-btn" id="ans2"/>
			</p>
			<br />
			<p>	
				<input type="submit" class="ans btn theme-btn" id="ans3"/>	
			</p>
		</div>
	</div>
</div>	
<script>

$('.wait_event').hide();
$('#header').text('Please Wait For Other Players');
var quest = sessionStorage.getItem("quest");
console.log(quest + "  ?????????????");

var socket = io();
var team;
var team_c;
var beacons_found = 0;
var beacon;
var data;
var room = sessionStorage.getItem("room");
var quest_num = 0;
var questions;
var beacon1 = false;
var beacon2 = false;
var beacon3 = false;
var cause_player;
var flag = false;


socket.on('go_to_team', function(data){
	console.log('go to team');
	team = data.team;
	socket.emit('join_room', {'room': team});
	socket.emit('join_room', {'room': room});

/*	beacon = team.substring(team.length - 1);
	var team_c = team.substring(0, team.length - 5);
	socket.emit('get_quest', {'room':room, 'team':team_c, 'beacon': beacon});*/
});




socket.on('quest', function(data, num){
	console.log("data received "  + data);
	console.log("num received "  + num);
	get_ready(data, num);
});


/*function get_ready(result, num){

	 data = JSON.parse(result);
	 quest_num = JSON.stringify(num);
	 sessionStorage.clear();
	 sessionStorage.setItem("quest", quest_num);
	 room = data.game_id;

		$('#header').text('Question ' + quest_num + ": " + data.question);
		$('#corans').val(data.corans);
		$('#ans1').val(data.ans1);
		$('#ans2').val(data.ans2);
		$('#ans3').val(data.ans3);
}
*/

function get_ready_2(){

 	
 	data = questions;
	

		$('#header').text('Question ' + (quest_num + 1) + ": " + data[quest_num].question);
		$('#corans').val(data[quest_num].corans);
		$('#ans1').val(data[quest_num].ans1);
		$('#ans2').val(data[quest_num].ans2);
		$('#ans3').val(data[quest_num].ans3);
		quest_num++;
}


socket.on('game_over', function(data){
	$('.wait_event').hide();
	$('#header').text('You Lose The Game ' + data.winner_team + " Won");
})

socket.on('game_started', function(data){
	//$('.wait_event').show();
	flag = true;

	beacon = team.substring(team.length - 1);
	team_c = team.substring(0, team.length - 5);

	if(beacon == 1){
		beacon1 = true;
		console.log( beacon1 + "  beacon true 1");
	}else if(beacon == 2){
		beacon2 = true;
		console.log(beacon2 + "  beacon true 2");
	}else{
		beacon3 = true;
		console.log( beacon3 + "  beacon true 3" );
	}

	$('#team').text("You Are In The " + team.substring(team.length - 5));

	socket.emit('get_quest', {'room':room, 'team':team, 'beacon': beacon});

	console.log("team   " + team_c + "  beacon " + beacon);



/*	if (quest === null){ 
			quest = 1;
			socket.emit('start_game', {'quest_num': quest, 'team': team });
			}else{
			quest.toInt;
			}*/
});

socket.on('game_won', function(data){
	$('.wait_event').hide();
	$('#header').text('Congratulations! You Won The Game!');
})


socket.on('quests_get', function(data){
	var quests = JSON.parse(data);
	questions = quests;

	console.log(quests);

	$('#header').text(quests[0].hint);
////////////////////1111111111111111111111111111111111111111111111
/*	if(beacon == 1){
		beacon1 = true;
		console.log( beacon1 + "  beacon true 1");
	}else if(beacon == 2){
		beacon2 = true;
		console.log(beacon2 + "  beacon true 2");
	}else{
		beacon3 = true;
		console.log( beacon3 + "  beacon true 3" );
	}*/

	console.log(quests[0].hint + "  asdasdasdasdasdasdasdasdasd   " + quests.length);

	


});



// getting teams

var room = sessionStorage.getItem('room');
var player = sessionStorage.getItem('username');

var data_to_join = {
	'room': room,
	'player_name': player
}
console.log(data_to_join.room + '  data to join');
socket.emit('get_team', data_to_join);


$('.ans').click(function() {
	//alert("Wrong! Try Again!");
	console.log('wrong ans!!!!');

	socket.emit('wrong_ans', {'room':team.substring(team.length - 5), 'player':player});
	
});
var timer;
socket.on('punishment',function(data){
	console.log(data);
	cause_player = data.player;
	cause_player.toString();
	$('.wait_event').hide();
	$('#team').hide();
	$('#header').text(cause_player + " answered wrong. You have to wait 10 seconds(if you try to reload the page, you will be kicked out of the game)");

  	timer = setInterval(punish,1000);
});
var punish_time = 10;
function punish(){
	punish_time--;
	if(punish_time > 0){
		$('#header').text(cause_player + " answered wrong. You have to wait " + punish_time + " seconds(if you try to reload the page, you will be kicked out of the game)");
	}else{
		punish_time = 10;
		clearInterval(timer);
		$('.wait_event').show();
		$('#team').show();
		quest_num--;
		get_ready_2();

	}
}



$('#corans').click(function(event){
	event.preventDefault();
	event.stopPropagation();
	$('.mainpart').hide();
	$('.mainpart2').show();
	socket.emit('quest_answered', {'team': team.substring(team.length - 5), 'room':room });

	if(quest_num < questions.length){
	get_ready_2();
	}else{

		var bcn;
		quest_num = 0;

			if(beacons_found >= 3){

				console.log("game is over ");
				var winner_data = {
									'game_id': room,
									'winner_team': team.substring(team.length - 5)
					}
				socket.emit('end_game', winner_data);
				console.log(winner_data);
			}else{


					console.log("beacon 1 flag " + beacon1 + " beacon 2 flag " + beacon2 + " beacon 3 flag " + beacon3);
					$('.wait_event').hide();
					if(beacon1 == false){
						bcn = '1';
						beacon1 = true;
						console.log('beacon 11111111');
					} else if(beacon2 == false){
						bcn = '2';
						beacon2 = true;
						console.log('beacon 22222222222');
					}else if (beacon3 == false){
						bcn = '3';		
						beacon3 = true;
						console.log('beacon 33333333333');
					} 

					socket.emit('get_quest', {'room':room, 'team':team, 'beacon': bcn});

						console.log("room   " + room + "team   " + team + "  beaconbbbbbbbbbb " + bcn);
				}

				//socket.emit('next_quest', {'room': room, 'quest_num': quest_num, 'team': team});
				//socket.emit('get_quest', {'room':room, 'team':team, 'beacon': beacon});
	}	

});



/* vazhnya hernya
	if(beacons_found >= 3){
		var winner_data = {
							'game_id': room,
							'winner_team': team
			}
		socket.emit('end_game', winner_data);
	}*/


socket.on('beacon_found', function(data){
	if(flag){
		beacons_found++;
		console.log('beacon found!!!!!');
		$('.wait_event').show();
		//socket.emit('get_quest', {'room':room, 'team':team, 'beacon': beacon});
		quest_num = 0;
		get_ready_2();
		}
});



</script>




</body>
</html>