<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>

<div class="container">
	<div class="wrapper animated bounceInLeft">
		<div class="welcoming">
			<h1 id="header"></h1>
		</div>
		<div class="mainpart wait_event">
			<p>
				<input type="submit" class="btn theme-btn" id="corans"/>
			</p>
			<br />
			<p>
				<input type="submit" class="ans btn theme-btn " id="ans1"/>
			</p>
			<br />
			<p>	
				<input type="submit" class="ans btn theme-btn" id="ans2"/>
			</p>
			<br />
			<p>	
				<input type="submit" class="ans btn theme-btn" id="ans3"/>	
			</p>
		</div>
	</div>
</div>	
<script>

$('.wait_event').hide();
$('#header').text('Please Wait For Other Players');
var quest = sessionStorage.getItem("quest");
console.log(quest + "  ?????????????");

var socket = io();
var team;

socket.on('go_to_team', function(data){
	console.log('go to team');
	team = data.team;
	socket.emit('join_room', {'room': team});
	socket.emit('join_room', {'room': room});
});




socket.on('quest', function(data, num){
	console.log("data received "  + data);
	console.log("num received "  + num);
	get_ready(data, num);
});

	var data;
	var room;
	var quest_num;
function get_ready(result, num){

	 data = JSON.parse(result);
	 quest_num = JSON.stringify(num);
	 sessionStorage.clear();
	 sessionStorage.setItem("quest", quest_num);
	 room = data.game_id;

		$('#header').text('Question ' + quest_num + ": " + data.question);
		$('#corans').val(data.corans);
		$('#ans1').val(data.ans1);
		$('#ans2').val(data.ans2);
		$('#ans3').val(data.ans3);
}

socket.on('game_over', function(data){
	$('.wait_event').hide();
	$('#header').text('Your Team Lost :( ' + data.winner_team + " Won The Game");
})

socket.on('game_started', function(data){
	$('.wait_event').show();
	if (quest === null){ 
			quest = 1;
			socket.emit('start_game', {'quest_num': quest, 'team': team });
			}else{
			quest.toInt;
			}
});

socket.on('game_won', function(data){
	$('.wait_event').hide();
	$('#header').text('Congratulations! Your Team is Winner!');
})


// getting teams

var room = sessionStorage.getItem('room');
var player = sessionStorage.getItem('username');

var data_to_join = {
	'room': room,
	'player_name': player
}
console.log(data_to_join.room + '  data to join');
socket.emit('get_team', data_to_join);


$('.ans').click(function() {
	alert("Wrong! Try Again!");
	
});

$('#corans').click(function(event){
	event.preventDefault();
	event.stopPropagation();

	socket.emit('next_quest', {'room': room, 'quest_num': quest_num, 'team': team});
});


$('#leave').click(function(event){
	console.log('leaving');
	socket.emit('leave', {'room': 'qwe'});
});





</script>




</body>
</html>