<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>
	<div class="container">
		 <div class="wrapper animated bounceInLeft">
			<div class="welcoming">
					<% if (typeof username !== 'undefined' && username.length > 0) { %>
				<h1>
					Welcome <%= username %>
				</h1>
					<% } %>
			</div>

		<div class="mainpart">
			 
	<form action="/join_game">
		<p>
		<label>Type Game's Name</label>
		<input type="text" id="room" class="form-control"/><br />
		<button type="submit" class="btn btn-danger" id="room_start">Join a Game</button><br />
		</p>
	</form>
	<br />
	<form action="/creategame" method="get">
		<p>
		<button type="submit" class="btn btn-warning">Create a Game</button>
		</p>
	</form>
	</div>
	</div>
</div>
</>
	<script>
			var socket = io();
			$('#room_start').click(function(){
				var room = $('#room').val();
					socket.emit('join_room', {'room': room});
			});
	</script>

</body>
</html>