<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>

	<h1>GOOOOD!!!</h1>
	<% if (typeof username !== 'undefined' && username.length > 0) { %>
  		<h1>
  			Welcome <font id="username"><%= username %></font>
  		</h1>
	<% } %>

	<form action="/join_game">
		<input type="text" id="room" placeholder="Type Game's Name "/>
		<input type="submit" id="join_game" value="Join a game"/>
	</form>
	<form action="/creategame" method="get">
		<input type="submit" id="crt_game" value="Create a game">
	</form>

	<input type="submit" id="hm" value="click me">
</>
	<script>			
			var socket = io();
			var username; 
/*			$('#room_start').click(function(){
				var room = $('#room').val();
					socket.emit('join_room', {'room': room});
					username = $('#username').text();
					socket.emit(room,{'username': username});
			});*/

			$('#crt_game').click(function(){
				//var room = $('#room').val();
				var room = $('#username').text();
				socket.emit('join_room', {'room': room, 'username': username});
			});

			
			$('#join_game').click(function(event){
				var room_join = $('#room').val();
				username = $('#username').text();
				socket.emit('join_user', {'room': room_join, 'username': username});
			});

	</script>

</body>
</html>