<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>
	<div class="container">
		 <div class="wrapper animated bounceInLeft">
			<div class="welcoming">
					<% if (typeof username !== 'undefined' && username.length > 0) { %>
				<h1>
					Welcome <font id="username"><%= username %></font>
				</h1>
					<% } %>
			</div>

		<div class="mainpart">
			 
	<form action="/join_game">
		<p>
		<label>Type Game's Name</label>
		<input type="text" id="room" class="form-control"/><br />
		<button type="submit"  id="join_game" class="btn btn-danger">Join a Game</button><br />
		</p>
	</form>
	<br />
	<form action="/creategame" method="get">
		<p>
		<button type="submit" id="crt_game" class="btn btn-warning">Create a Game</button>
		</p>
	</form>
	</div>
	</div>
</div>
</>
<script>			
			var socket = io();
			var username; 
			/*	$('#room_start').click(function(){
				var room = $('#room').val();
					socket.emit('join_room', {'room': room});
					username = $('#username').text();
					socket.emit(room,{'username': username});
			});*/

			$('#crt_game').click(function(){
				//var room = $('#room').val();
				var room = $('#username').text();
				socket.emit('join_room', {'room': room, 'username': username});
				username = $('#username').text();
				sessionStorage.setItem('username', username);
			});

			
			$('#join_game').click(function(event){
				console.log("clicked join game");
				var room_join = $('#room').val();
				username = $('#username').text();
				socket.emit('join_user', {'room': room_join, 'username': username});
				//socket.emit('get_team', {'room': room_join, 'player_name': username});

				sessionStorage.setItem('username', username);
				sessionStorage.setItem('room', room_join);
			});



	</script>

</body>
</html>