<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>

	<h1>GOOOOD!!!</h1>
	<% if (typeof username !== 'undefined' && username.length > 0) { %>
  		<h1>
  			Welcome <%= username %>
  		</h1>
	<% } %>

	<form action="/join_game">
		<input style="width:200px;" type="text" id="room" class="form-control" placeholder="Type Game's Name "/><br />
		<button type="submit" class="btn btn-danger" id="room_start">Join a Game</button><br />
	</form>
	<br />
	<form action="/creategame" method="get">
		<button type="submit" class="btn btn-warning">Create a Game</button>
	</form>
</>
	<script>
			var socket = io();
			$('#room_start').click(function(){
				var room = $('#room').val();
					socket.emit('join_room', {'room': room});
			});
	</script>

</body>
</html>