<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta charset="utf-8"/>
	

	<%include stat%>
</head>
<body>

	
	<% if (typeof message !== 'undefined' && message.length > 0) { %>
  <h1><%= message %></h1>
	<% } %>
	<br/>
	<!--newOne-->
	<form class="none-float" action="/login" method="post">
			<div class="col-md-6 form-group">
				<label>Username</label>
				<input type="text" name="username" class="form-control" />
			</div>
			<div class="col-md-6 form-group">
				<label>Password</label>
				<input type="password" name="password" class="form-control" />
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn theme-btn">Go Play</button>
				<button type="submit" class="btn fb-btn">Login with Facebook</button>
			</div>
		</form>

		<br />

		<form  action="/signup">
			<div class="col-md-6">
			<button type="submit" class="btn theme-btn">Register</button>
			</div>
		</form>

</body>
</html>