<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta charset="utf-8"/>
	<%include stat%>
</head>
<body>

	
	<% if (typeof message !== 'undefined' && message.length > 0) { %>
  <h1><%= message %></h1>
	<% } %>
	<br/>
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="Enter a username"/>
		<br/>
		<input type="password" name="password"/>
		<br/>
		<input type="submit" name="submit" value="Go Play"/>
	</form>
	<br/>
	<form action="/signup">		
		<input type="submit" name="reg" value="Register"/>
	</form>
	

</body>
</html>