<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>

	<!--newOne-->
	<div class="container">
		<div class="wrapper animated bounceInLeft">
			<div class="welcoming">
					<h1>Adjusting Beacons</h1>
					<h1 id="status"></h1>
				</div>
					<div class="mainpart">
						 <form id="subquest">
						 <h1>Beacon #1</h1><br />
						 <p>
						 <label for="questionInput">Question:</label>
						 <textarea class="form-control" id="question"></textarea>
						</p>
						<p>
						 <label for="trueAnswer">True Answer:</label>
						 <input type="text" id="corans" class="form-control" />
						</p>
						<p>
						 <label for="falseAnswers">False Answers:</label>
						</p>
						<p>
						 <input type="text" id="ans1" placeholder="1st False Answer" class="form-control" />
						</p>
						<p>
						 <input type="text" id="ans2" placeholder="2nd False Answer" class="form-control" />
						</p>
						<p>
						 <input type="text" id="ans3" placeholder="3rd False Answer" class="form-control" />
						</p>
						<p>
						 <label for="hint">Hint:</label>
						</p>
						<p>
						 <input type="text"  class="form-control" id="hint"/>
						</p>
						<p>
						 <button type="submit" class="btn btn-success">Save</button>
						</p>
						</form>
						<form action="/start_game">
							<p>
							<button type="submit" class="btn btn-danger" id="start_game">Start Game</button>
							</p>	
						</form>
					</div>
					</div>
				</div>

	 <script>
	 	function get_ready(){
	 		$('#status').text("question was saved");
					$('#question').val("");
        			$('#corans').val("");
					$('#ans1').val("");
					$('#ans2').val("");
					$('#ans3').val("");
					$('#hint').val("");
	 	 	
	 	};
        $('#subquest').submit(function(event){
        	event.preventDefault();
			event.stopPropagation();

        	var question = $('#question').val();
        	var corans = $('#corans').val();
			var ans1 = $('#ans1').val();
			var ans2 = $('#ans2').val();
			var ans3 = $('#ans3').val();
			var hint = $('#hint').val();

			$.ajax({
				type:"POST",
				url:"/subquest",
				contentType: "application/JSON",
				data: JSON.stringify({data:{
					'question':question,
					'corans':corans,
					'ans1':ans1,
					'ans2':ans2,
					'ans3':ans3,
					'hint':hint
					}
				}),
				success: get_ready(),

				}).done(function(result){
					console.log(result);					
				}).fail(function(err){
					console.log(err);
					$('#status').text("question was not saved please try again");
				});
        });
        
    

	 </script>
       <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>





</body>
</html>