<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include stat%>
</head>
<body>

	<h3>You Have To Submit At Leat 3 Questions To Start The Game</h3>
	<h3 id="header"></h3>

	<form id="subquest">
		<input type="text" placeholder="Question" id="question">
		<br/>
		<input type="text" placeholder="Give a Hint" id="hint">
		<br/>
		<input type="text" placeholder="Correct Answer" id="corans">
		<input type="text" placeholder="Wrong Answer" id="ans1">		
		<input type="text" placeholder="Wrong Answer" id="ans2">
		<input type="text" placeholder="Wrong Answer" id="ans3">
		<input type="submit" value="Submit Question">
	</form>

	<form class="start_game" action="/start_game">
		<input type="submit" class="start_game" value="Start Game">
	</form>

	<form action="/home">
		<input type="submit" value="Menu">
	</form>



	<h1 id="status"></h1>

	 <script>

	 	var username = sessionStorage.getItem('username');
	 	var socket = io();
	 	$('.start_game').hide();

	 	if(username != null){
	 		socket.emit('quest_count', {'game': username});
	 		console.log(username);
	 	}else{
	 		console.log(username);
	 	}


	 	socket.on('quest_comlete', function(data){
	 			var quest_count = data.quest_count;
	 			quest_count.toInt;
	 			console.log(quest_count);
	 			if (quest_count >= 3){
	 				$('.start_game').show();
	 				$('#header').text('Questions Submited: ' + quest_count);
	 				clearInterval(timer);
	 			}else{
	 				$('#header').text('Questions Submited: ' + quest_count);
	 				
	 			}
	 	});

	 	function quest_num(){
	 		socket.emit('quest_count', {'game': username});
	 	}

	 	var timer = setInterval(quest_num, 3000);

	 	

	 	

	 	function get_ready(){
	 		$('#status').text("question was saved");
					$('#question').val("");
        			$('#corans').val("");
					$('#ans1').val("");
					$('#ans2').val("");
					$('#ans3').val("");
					$('#hint').val("");
	 	 	
	 	};
        $('#subquest').submit(function(event){
        	event.preventDefault();
			event.stopPropagation();

        	var question = $('#question').val();
        	var corans = $('#corans').val();
			var ans1 = $('#ans1').val();
			var ans2 = $('#ans2').val();
			var ans3 = $('#ans3').val();
			var hint = $('#hint').val();

			$.ajax({
				type:"POST",
				url:"/subquest",
				contentType: "application/JSON",
				data: JSON.stringify({data:{
					'question':question,
					'corans':corans,
					'ans1':ans1,
					'ans2':ans2,
					'ans3':ans3,
					'hint':hint
					}
				}),
				success: get_ready(),

				}).done(function(result){
					console.log(result);
					socket.emit('quest_count', {'game': username});					
				}).fail(function(err){
					console.log(err);
					$('#status').text("question was not saved please try again");
				});
        });
        
    

	 </script>
       




</body>
</html>