<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/submitquestion">
		<input type="text" name="" placeholder="Question">
		<br/>
		<input type="text" placeholder="Correct Answer">
		<input type="text" placeholder="Wrong Answer">		
		<input type="text" placeholder="Wrong Answer">
		<input type="text" placeholder="Wrong Answer">
		<input type="submit" value="Submit Question">
	</form>




</body>
</html>