<!DOCTYPE html>
<html>
<head>
	<title>Register Yourself</title>
	<%include stat%>
</head>
<body>
	<% if (message.length > 0) { %>
            <h1><%= message %></h1>
			<% } %>
			

			<form class="none-float" action="/signup" method="post">
				<div class="col-md-6 form-group">
					<label>Enter a Username</label>
					<input type="text" name="username" class="form-control" />
				</div>
				<div class="col-md-6 form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" />
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn theme-btn">Register</button>
				</div>
			</form>
	
</body>
</html>