<!DOCTYPE html>
<html>
<head>
	<title>Register Yourself</title>
	<%include stat%>
</head>
<body>
	<% if (message.length > 0) { %>
            <h1><%= message %></h1>
            <% } %>
	<form action="/signup" method="post">
		<input type="text" name="username" placeholder="Enter a username"/>
		<br/>
		<input type="password" name="password">
		<br/>
		<input type="submit" name="submit" >
	</form>
	
</body>
</html>