
body {
	background: #92bde7;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe Ui', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

*{
	box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding: 0;
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
    padding: 1em;
}

.welcoming{
    background: #c9e6ff;
    text-align: center;
}

.welcoming h1{
    text-align: center;
    margin: 0 0 1rem 0;
}

.mainpart{
	background: #f9feff;
}

/* FORM STYLES */

.mainpart form{
    display: grid;
    grid-template-columns: 1fr;
	grid-gap: 20px;
	padding: 3px 3px 3px 3px;
}

.mainpart form label{
    display: block;
}

.mainpart form p,
.mainpart p{
	margin: 0;
	text-align: center
}

.mainpart form .full{
    grid-column: 1/3;
}

.mainpart form button, 
.mainpart form  input,
.mainpart form textarea,
.mainpart p input{
    width: 100%;
    padding:1em;
    border: 1px solid #c9e6ff;
}

.mainpart form button{ 
	display: table;
	margin: 0 auto;
    border: 0;
    text-transform: uppercase;
}

#countname{
    color: red;
}
 
 /*Game Start Content*/
 
 .startgamecontent{
   background-color: #fff;
   display: grid;
   margin: auto;  
   text-align: center;
   padding: 50px;
   grid-row-gap: 1em;
 }
 
 .startgamecontent form button, #game_start{
     display: table;
     margin: 0 auto;
     border: 0;
     text-transform: uppercase;
     cursor: pointer;
 }
 
 .teamone{
     background-color: lightblue;
 }
 
 .teamtwo{
     background-color: lightsalmon;
 }
 
 .teamthree{
     background-color: lightgreen;
 }
 
 .modalstuff{
     display: table;
     margin: 0 auto;
     border: 0;
     text-transform: uppercase;
 }
 
 .modal-body{
    display: inline-block;
     margin: 0 auto;
     padding: 20px;
 }
 
 .forbeacon{
     background-color: red;
     border: 2px solid;
 }
  
 .forbtns{
     background: orange;
     border: 2px solid;
 }
 
 #selectedbcn{
     text-align: center;
 }
 .btnsgroup{
     margin: 0 auto;
 }

/* LARGE SCREENS */

@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
        padding: 2em;
    }

    .mainpart h1{
        text-align: left;
	}
	
}


